<p-blockUI [target]="studstep1" [blocked]="display">
  <div style="position:absolute;top:25%;left:50%">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><br>
  </div>
</p-blockUI>
<p-menubar styleClass="menu-bar">
  <div class="title">
      <img src="./assets/schoollogo.jpg" alt="LOGO" height="70px;" width="100px;" style="padding: 5px;"/>
      <div>
           <label class="headingLabel">CBS School Administration</label> 
      </div>        
  </div>
  
  <p-menu #menu popup="popup" [model]="items2"></p-menu>
  <div align="right">
    <button type="button" pButton icon="fa fa-list" label="Themes" (click)="menu.toggle($event)"></button>
  </div>
  <div>Welcome Admin!</div>
</p-menubar>

<br>
<div class="stud-group-header">
    <div class="leftPanel">
      
    </div>
  
</div>
  <div class="main-grid">
    <p-panelMenu [model]="items" ></p-panelMenu>
    <div style="background-color: rgb(235, 236, 236)">
        {{actionMessage}}
        <div style="margin:1px" *ngIf="showClasses"> <app-classes></app-classes> </div>
        <div style="margin:1px" *ngIf="showSubjects"> <app-subjects></app-subjects> </div>
        <div style="margin:1px" *ngIf="showStudents"> <app-students></app-students> </div>
        <div style="margin:1px" *ngIf="showStaffs"> <app-staffs></app-staffs> </div>
    </div>
    
  </div>