<div class="border-panel"> 

<p-dataTable [value]="subjects" 
    [paginator]="false" rows="15" [responsive]="true" [resizableColumns]="true" columnResizeMode="fit">
<p-header>Subjects</p-header>

<p-column field="subject" header="Subject Name" [sortable]="true" [style]="{'width':'40%'}"></p-column>
<p-column field="desc" header="Description" [sortable]="true" [style]="{'width':'40%'}"></p-column>
<p-column field="deleted" [style]="{'width':'5%', 'text-align': 'center'}">  
    <ng-template let-col let-row="rowData" pTemplate="rowData" style="float: right;">
            <button type="button" pButton icon="fa-trash" 
                style="float: center;" (click)="deleteSubject(row)"  *ngIf="!row.deleted"></button>
             <i class="fa fa-remove" *ngIf="row.deleted" style="color: red;"></i>        
    </ng-template>
</p-column>

<p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" 
            style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        
      </div>
</p-footer>
</p-dataTable>

</div>

<p-dialog header="Subject Details" [(visible)]="displayDialog" 
    [responsive]="true" showEffect="fade" [modal]="true">
    <p-messages severity="error" [(value)]="inlineMsgs" [closable]="false"></p-messages>
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="subject">
  <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="subject">Subject Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="subject" [(ngModel)]="subject.subject" placeholder="Required" /></div>
  </div>
  <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="desc">Description</label></div>
      <div class="ui-grid-col-8"><input pInputText id="desc" [(ngModel)]="subject.desc" placeholder="Required"/></div>
  </div> 
  
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="saveSubject(subject)" label="Save"></button>
      <button type="button" pButton icon="fa-check" (click)="gotoListPage()" label="Cancel"></button>
  </div>
 </p-footer>
</p-dialog> 
<p-growl [value]="msgs" baseZIndex=1></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-trash" width="425"></p-confirmDialog>
