<div class="border-panel">
    
    <div *ngIf="!displayDialog">
        <div>
                <p-header>
                        <div class="ui-g">
                                <div class="ui-g-6" style="background-color: bisque; float: left;">
                                        Teachers
                                    </div>
                                    <div class="ui-g-6">
                                            <button type="button" pButton icon="fa-plus" 
                                            style="float:right;" (click)="showDialogToAdd()" label="Add"></button>
                                        </div>
                             </div>       
                    <div style="background-color: bisque; float: left"></div>
                   
                </p-header>
        </div>
        <br/>
        <p-accordion [activeIndex]="activeIdx" (onOpen)="setIndex($event)">
            <div class="row" *ngFor="let staff of staffs">                        
                <p-accordionTab header="{{staff.fullname}}">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <div class="ui-g-6 ui-sm-6">Name: <span class="spanfont">{{staff.fullname}}</span></div>
                                <div class="ui-g-6 ui-sm-6">Date of Birth: <span class="spanfont">{{staff.dob | date:'dd/MM/yyyy'}}</span></div>
                                <div class="ui-g-6 ui-sm-6">Gender: <span class="spanfont">{{staff.gender}}</span></div>
                                <div class="ui-g-6 ui-sm-6">Qualification: <span class="spanfont">{{staff.qualification}}</span></div>
                                <div class="ui-g-6 ui-sm-6">Email: <span class="spanfont">{{staff.mail}}</span></div>
                                <div class="ui-g-6 ui-sm-6">Mobile: <span class="spanfont">{{staff.mobile}}</span></div>
                                <div class="ui-g-6 ui-sm-6">Address: <span class="spanfont">{{staff.address}}</span></div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-8 ui-sm-12"></div>
                                
                                <div class="ui-g-4 ui-sm-12" style="float: right;">
                                    <button type="button" pButton icon="fa-check" 
                                        style="float:left" (click)="showDialogToUpdate(staff)" label="Update"></button>
                                    <button type="button" pButton icon="fa-trash" 
                                        style="float:left" (click)="deleteStaff(staff)" label="Delete"></button>
                                </div>
                            </div>
                        </div>
                </p-accordionTab>
            </div>
        </p-accordion>
    </div>
    
    <div *ngIf="displayDialog">
    <div style="background-color: antiquewhite; padding: 10px; border: 1px coral 2px thick solid;">
            <span class="ui-panel-title" style="font-weight: bold">{{detailPageTitle}}</span>
    </div>
    <hr>
    <p-panel>
        <p-messages severity="error" [(value)]="inlineMsgs"></p-messages>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title">{{detailPageTitle}}</span>
            </div>    
        </p-header>        
        <div class="ui-grid-responsive ui-fluid" *ngIf="staff">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fullname">Full Name</label></div>
                <div class="ui-grid-col-8">
                    <input type="text" pInputText id="fullname" [(ngModel)]="staff.fullname" 
                        [disabled]="!isNewStaff" placeholder="Required" class="ng-dirty ng-invalid"/>
                </div>
            </div>
            <hr/>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="dob">Date of Birth</label></div>
                <div class="ui-grid-col-8"> 
                    <p-calendar [(ngModel)]="staff.dob" [showIcon]="true" 
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="{{minYear}}:{{maxYear}}"
                        [minDate]="minDate" [maxDate]="maxDate"
                        [disabled]="!isNewStaff" placeholder="Required"></p-calendar>
                    
                </div> 
            </div> 
            <hr/>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="gender">Gender</label></div>
                <div class="ui-grid-col-8">
                        <div class="ui-g-2"><p-radioButton name="Male" value="Male" label="Male" [(ngModel)]="staff.gender" inputId="opt1" [disabled]="!isNewStaff"></p-radioButton></div>
                        <div class="ui-g-2"><p-radioButton name="Female" value="Female" label="Female" [(ngModel)]="staff.gender" inputId="opt2" [disabled]="!isNewStaff"></p-radioButton></div>
                        
                </div>
            </div>
            <hr/> 
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="qualification">Qualification</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="qualification" [(ngModel)]="staff.qualification" /></div>
            </div> 
            <hr/>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="mail">Email</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="mail" [(ngModel)]="staff.mail" /></div>
            </div>
            <hr/> 
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="mobile">Mobile Number</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="mobile" [(ngModel)]="staff.mobile" /></div>
            </div>
            <hr/> 
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="desc">Address</label></div>
                    <div class="ui-grid-col-8">
                        <textarea pInputTextarea [rows]="3" [cols]="60" [(ngModel)]="staff.address"></textarea>
                    </div>
            </div> 
            <hr/>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="desc">Password</label></div>
                    <div class="ui-grid-col-8">
                        <input pPassword [(ngModel)]="staff.password"/>
                    </div>
            </div>
            <hr/>
            <p-footer>
                <div class="ui-dialog-buttonpane">
                <div class="ui-grid-row" style="padding: 20px;">
                    
                    <!-- <div class="ui-grid-col-7">&nbsp;</div> -->
                    <div class="ui-grid-col-6" style="padding: 2px;">
                        <button pButton type="button" icon="fa-check" label="Save" class="ui-button-info" (click)="saveStaff(staff)"></button>
                    </div>
                    
                    <div class="ui-grid-col-6" style="padding: 2px;">
                        <button pButton type="button" icon="fa-check" label="Cancel" class="ui-button-info" (click)="gotoListPage()"></button>
                    </div>
                </div>

                </div>
            </p-footer>
        </div> 
    </p-panel>
    </div>
</div>

<!-- <p-message severity="error" text="Field is required"></p-message> -->
<p-growl [value]="msgs" baseZIndex=1></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-trash" width="425"></p-confirmDialog>

<!-- <p-dialog header="Add Staff" [(visible)]="displayDialog" 
    [responsive]="true" showEffect="fade" [modal]="true">
<div class="ui-grid ui-grid-responsive ui-g-12" *ngIf="staff">
  <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="subject">Full Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="subject" [(ngModel)]="staff.fullname" /></div>
  </div>
  <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="desc">Date of Birth</label></div>
      <div class="ui-grid-col-8">
        <p-calendar [(ngModel)]="staff.dob" [showIcon]="true"></p-calendar>
    </div>
  </div> 
  <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="desc">Gender</label></div>
        <div class="ui-grid-col-8">
                <div class="ui-g-6"><p-radioButton name="Male" value="M" label="Male" [(ngModel)]="staff.gender" inputId="opt1"></p-radioButton></div>
                <div class="ui-g-6"><p-radioButton name="Female" value="F" label="Female" [(ngModel)]="staff.gender" inputId="opt2"></p-radioButton></div>
        </div>
    </div> 
    <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="desc">Qualification</label></div>
            <div class="ui-grid-col-8"><input pInputText id="desc" [(ngModel)]="staff.qualification" /></div>
    </div> 
    <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="desc">Email</label></div>
            <div class="ui-grid-col-8"><input pInputText id="desc" [(ngModel)]="staff.mail" /></div>
    </div> 
    <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="desc">Mobile Number</label></div>
            <div class="ui-grid-col-8"><input pInputText id="desc" [(ngModel)]="staff.mobile" /></div>
    </div> 
    <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="desc">Address</label></div>
            <div class="ui-grid-col-8"><input pInputText id="desc" [(ngModel)]="staff.address" /></div>
    </div> 
    <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="desc">Password</label></div>
            <div class="ui-grid-col-8"><input pInputText id="desc" [(ngModel)]="staff.password" /></div>
    </div> 
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="saveSubject(subject)" label="Save"></button>
  </div>
 </p-footer>
</p-dialog>  -->


